#Home {
    padding: 1rem 7rem;
    
    display: flex;
    align-items: center;

    overflow: hidden;
    min-height: calc(100vh - 6.5rem);
}

#home-container{
    width: 100%;
    position: relative;
}

#title {
    font-size: 2.5rem;
}

#shapes img{
    position: absolute;
    z-index: -1;
}
#shapes .shape1{
    top: -3rem;
    left: -15rem;
}
#shapes .shape2{
    top: -8rem;
    right: -15rem;
}
#shapes .coffe{
    top: 3rem;
    right: 10rem;
}

#social-icons{
    padding: 2rem 0;
}
#social-icons img{
    padding-right: 10px;
}

.btn{
    background: unset;
    border-radius: .5rem;
    box-shadow: none;
    border: 1px solid transparent;
    padding: .25rem .7rem;
    cursor: pointer;
}

.btn-primary{
    color: #fff;
    background-color: #FCA60F;
    border-color: #FCA60F;
    transition: .2s all ease-in-out;
}

.btn-primary:hover{
    background-color: #C95E20;
    border-color: #C95E20;
}

.btn-bg{
    padding: .6rem 3rem;
    font-size: 1.5em;
}

.nunito-bold{
    font-family: 'Nunito-Bold', sans-serif;
}

@media (min-width: 320px) and (max-width: 767px){
    #Home {
        padding: 0 2rem;
        align-items: unset;

        padding-top: 8rem;

        min-height: calc(100vh - 14rem);
    }

    #home-container{
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #title {
        font-size: 1.2rem;
    }

    #shapes .shape1{
        height: 450px;
        top: -6rem;
        left: -15rem;
    }
    #shapes .shape2{
        height: 450px;
        top: 10rem;
        right: -20rem;
    }
    #shapes .coffe{
        display: none;
    }

    #social-icons{
        margin-top: auto;
    }

    .btn-bg{
        font-size: 1.2rem;
    }
}