#header {
    display: flex;
    padding: 1rem 7rem;

    -webkit-box-shadow: 2px 11px 16px -9px rgba(0,0,0,0.27); 
    box-shadow: 2px 11px 16px -18px rgba(0,0,0,0.27);
}

#links-list{
    display: flex;
    list-style-type: none;

    margin: 0;
    margin-left: auto;
}

#links-list li{
    padding: 5px 2rem;
}

#links-list li a{
    color: unset;
    text-decoration: none;
}

@media (min-width: 320px) and (max-width: 767px){
    #header {
        display: block;
        padding: 0;
    }

    #logo{
        display: flex;
        justify-content: center;

        margin-top: 10px;
    }
    
    #links-list{
        padding: 5px 0;
        align-items: center;
        justify-content: center;
    }
    #links-list li{
        padding: 10px 25px;
    }

    #order-button{
        margin-top: 2.5rem;
    }
}